In [ ]:
import pandas as pd
import matplotlib as plt
import numpy as np
from tkinter import messagebox
import sqlalchemy as sql
from IPython.display import display

In [ ]:
engine = sql.create_engine('postgresql://dkern:SometimesIEatBananas@flowers.mines.edu/csci403')
connection = engine.connect()

In [ ]:
babyNames = pd.read_csv("BabyNames.csv")
movies = pd.read_csv("Movies.csv")
babyNames

In [ ]:
#Testing stuff for below cell
babyNames[(babyNames['Name'] == name) & (babyNames['Year'] == year) & (babyNames['Gender'] == 'F')].values[0]
for index,row in babyNames[(babyNames['Name'] == name) & (babyNames['Year'] == year)].iterrows():
    df.loc((df['name'] == name))[year]

In [ ]:
#This takes too long, we have to change the file somehow. Movies already takes a few minutes with only 4000 rows. 
#babyNames.to_sql('babynames', engine, if_exists='replace', schema='dkern')

#Trying to get data into new form like name, 1980, 1981, 1982,... where years have count of name.
uniqueNames = babyNames.Name.unique()
bnColumns = ['name']
years = range(1980, 2017)
bnColumns.extend(years)
df = pd.DataFrame(columns = bnColumns)
df['name'] = uniqueNames
df.fillna(value=0, inplace=True)
for name in uniqueNames:
    for year in years:
        if ((babyNames['Name'] == name) & (babyNames['Year'] == year)).any():
            for index,row in babyNames[(babyNames['Name'] == name) & (babyNames['Year'] == year)].iterrows():
                #count = row['Count']

In [ ]:
trans = connection.begin()
movies.to_sql('movies', engine, if_exists='replace', schema='dkern')
trans.commit()

In [ ]:
query="""SELECT * FROM Movies"""
result = engine.execute(query)
for row in result:
    display(row)